<div class="row d-flex justify-content-center">
    <mat-card class="mcard card-shadow">
        <mat-card-header>
        </mat-card-header>
        <mat-card-actions>
            <mat-icon color="primary">supervised_user_circle</mat-icon>
        </mat-card-actions>
        <mat-card-title>180</mat-card-title>
        <mat-card-content class="text">
            Total Users
        </mat-card-content>
    </mat-card>
    <mat-card class="mcard card-shadow">
        <mat-card-header>
        </mat-card-header>
        <mat-card-actions>
            <mat-icon color="primary">bar_chart</mat-icon>
        </mat-card-actions>
        <mat-card-title>15</mat-card-title>
        <mat-card-content class="text">
            Shortlisted Users
        </mat-card-content>
    </mat-card>
</div>