<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar><img src="../../../assets/mentorry.jpg" alt="" class="img-fluid"></mat-toolbar>

    <mat-nav-list>
      <a class="animate" mat-list-item routerLink="dashboard" routerLinkActive="active">
        <mat-icon mat-list-icon class="">home</mat-icon>Dashboard
      </a>
      <a class="animate" mat-list-item routerLink="addUser" routerLinkActive="active">
        <mat-icon mat-list-icon class="">person_add</mat-icon>Add User
      </a>
      <a class="animate" mat-list-item routerLink="lists" routerLinkActive="active">
        <mat-icon mat-list-icon class="">list_alt</mat-icon>User Lists
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="grid">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-icon> mail_outline</mat-icon>
      <!-- user profile -->
      <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon">person</mat-icon>
    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>