
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// palettes
$Admin-panel-primary: mat.define-palette(mat.$orange-palette,900);
$Admin-panel-accent: mat.define-palette(mat.$green-palette);
$Admin-panel-warn: mat.define-palette(mat.$red-palette);
// Theme
$Admin-panel-theme: mat.define-light-theme((
  color: (
    primary: $Admin-panel-primary,
    accent: $Admin-panel-accent,
    warn: $Admin-panel-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Admin-panel-theme);

